.top_bg p {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.top_bg h1 {
  font-size: 74px;
}

.work_main li img{
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  overflow: hidden;
}

.work_main li img:hover{
  transform:scale(1.1,1.1);
  transition:1s all;
}

.work_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.li_img a {
  display: block;
  border: 50px solid #fff;
}

.li_img {
  margin: 0 50px 50px 0;
  box-shadow: 4px 4px 8px 2px #adadad;
}

.li_img:nth-child(3n) {
  margin-right: 0;
}

.work_txt {
  font-size: 24px;
  margin: 200px 0 50px 0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  
.li_img {
    margin: 0 50px 100px 0;
  }
  
.li_img:nth-child(2n) {
  margin-right: 0;
}

#li3 {
  margin-right: 50px;
}

.work_txt {
  margin-bottom: 100px;
  font-size: 32px;
}
}

@media screen and (max-width: 480px) {
.top_bg h1 {
  font-size: 64px;
}

.work_txt {
  font-size: 22px;
}

.li_img:nth-child(2n) {
  margin-right: 50px;
}

.li_img {
  margin-left: 50px;
}
}